/*Counter*/
.counter{
    margin-top: 80px;
    position: relative;
}

.hero.counter::after{
    background-image: url("../public/images/some-facts-bg.png");
    height: 50vh;
}

.counter h1{
    margin: 0;
    font-size: 30px;
}